.comments {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
}
.message {
    height: 100px;
}
.listComments {
}